.navbar{
  background: #62366E;
  border-color: #502E5B;
  color: #ffffff !important;
}

.navbar-brand{
  color: #ffffff !important;
}

.navbar-toggle{
  background: #62366E;
  border: 0px;
  color: #ffffff !important;

}

.navbar-hover{
  background: #502E5B !important;


}
