<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container vcenter">
    <h1>Rosedale Master Plan</h1>
    <p class="lead">The Rosedale Master Plan is starting soon!</p>
    <form>
      <div class="form-group col-md-8 col-md-offset-2">
        <br><Br><br>
        <label for="exampleInputEmail1">Stay up-to-date</label>
        <div class='input-group input-group-lg'>
          <input type="email" class="form-control" id="emailsubscribe" placeholder="Email" ng-model='email'>
          <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click='addEmail()'>Subscribe!</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</header>
